[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
black = "*"
djhtml = "*"
django-extensions = "*"
pillow = "*"
python-dotenv = "*"
dj-database-url = "*"
python-decouple = "*"
django-cities-light = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "==2.9.6"
django-unfold = "*"
django-admin-honeypot-updated-2021 = "*"
django-cloudinary-storage = "*"
django-resized = "*"

[dev-packages]
pip-tools = "*"

[requires]
python_version = "3.11"
