[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
black = "*"
djhtml = "*"
pre-commit = "*"
django-extensions = "*"
pillow = "*"
geopy = "*"
googlemaps = "*"
python-dotenv = "*"
psycopg2 = "*"
dj-database-url = "*"
python-decouple = "*"
django-cities-light = "*"
rav = "*"
django-compressor = "*"

[dev-packages]

[requires]
python_version = "3.11"
