
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"  rel="stylesheet">
        

        <link rel="stylesheet" href="{% if debug %}{% static 'css/style.css' %}?v={{ STATIC_VERSION }}{% else %}{% static 'css/style.min.css' %}{% endif %}">

        <title>{% block title %}{% endblock %} | BaronialAg Home</title>

    </head> 

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "base/navbar.html" %}

        <div>
            {% block content %}
            {% endblock content %}
        </div>

        {% include "base/footer.html" %}
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

    </body>

</html>

