{% extends "base.html" %}

{% block title %} Thank you {% endblock %}
{% block content %}
<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
    <div class="py-8 mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
        <h3 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl dark:text-white">Thank You!</h3>
        <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">We have received your request and appreciate your interest in our product. Our team will review your request and get in touch with you shortly to schedule a convenient time for your demo.</p>
    </div> 
</div> 
{% endblock %}


  